<div class="page-header">
  <h2>Run on <%= @run.start_time %></h2>
</div>

<div id='map' style='width: 800px; height: 400px;'></div>

<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiZGFud2E1IiwiYSI6ImNpcnVkM244ajBqM2pmOW02eTA4YWUwenUifQ.FfkMklO6SMp3fAQDVcRwYQ';
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v9'
});

map.on('load', function () {
  map.addSource("route", {
    "type": "geojson",
    "data": {
      "type": "Feature",
      "properties": {},
      "geometry": {
        "type": "LineString",
        "coordinates": <%= raw @coordinates %>
      }
    }
  });

  map.addLayer({
    "id": "route",
    "type": "line",
    "source": "route",
    "layout": {
      "line-join": "round",
      "line-cap": "round"
    },
    "paint": {
      "line-color": "#FF0000",
      "line-width": 2
    }
  });
});

map.fitBounds(<%= @bounds_coordinates %>);

</script>
